<div>
  <p style="margin-top:0;margin-bottom:20px;font-family:Georgia,serif;font-size:28px">
    Ваша ссылка для входа
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    Нажмите на кнопку ниже, чтобы подтвердить email и завершить регистрацию на JustMyShots.
    <br>
    Ссылка действительна 2 часа и может быть использована только один раз.
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    <a href='https://justmyshots.com/confirm-email?code={{confirmationCode}}'
       style="color:#ffffff;text-decoration:none;display:inline-block;height:38px;line-height:38px;padding:0 24px;border:0;outline:0;background-color:#1a8917;font-size:14px;font-weight:400;text-align:center;white-space:nowrap;border-radius:99em;margin:4px 0"
       target="_blank">
      Завершить регистрацию
    </a>
  </p>
  <p style="margin-top:0;margin-bottom:20px">
    Если кнопка не работает, вставьте эту ссылку в браузер:
    <br>
    <a href='https://justmyshots.com/confirm-email?code={{confirmationCode}}'
       style="color:#333332;text-decoration:underline" target="_blank">
      https://somesite.com/confirm-email?code={{confirmationCode}}
    </a>
  </p>
  <div style="color:#b3b3b1;font-size:16px;margin:50px 0 50px 0">
    Если вы не запрашивали эту ссылку, просто проигнорируйте это письмо.
  </div>
</div>